


.main{
    width: 100%;
    height: 720px;
    background-image: url('main_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}
.inner{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 5;
        
}

.setting{
    position: absolute;
    z-index: 100;
    margin-top: 55px;
    margin-right: 80px;
    right: 0;
}
.logo{
    position: relative;
    top:0 ;
}
.button:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.setting:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#audio{
    position: absolute;
    z-index: 100;
    margin-top: 55px;
    margin-left: 80px;
    left: 0;
}

#audio:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}